In [782]:
import pandas as pd
import numpy as np

In [783]:
cost_price_dict = {'63621/tab': 6.85, '64640/curve': 6.85, '63014/cb3': 6.85, 'cb-5': 6.85, '64638/cb-9': 6.85,
                   
                   'violet': 8.95, 'naomi': 8.95, 'audrey': 8.95, 'ava': 8.95, 'delilah': 8.95, 'rose': 8.95,
                   
                   '64295': 13.25, '64257': 20.90, '64296': 14.05, '62879': 14.00, '63931': 12.35, '64064': 15.75,
                   '63754': 13.00, '63753': 8.65, '64198': 16.65, '64203': 13.35, '63858': 18.00, '64033': 6.95,
                   
                   '31800': 2.95,
                   
                   'swansea': 6.95, 'perth': 6.95, 'ayr': 6.95, 'iverness': 7.95, 'meath': 10.75, 'bray': 10.75,
                   'mourne': 10.25, 'cardiff': 8.35, 'derby': 10.50, 'newport': 10.95, 'bristol': 7.50, 'london': 10.95,
                   'oxford': 10.95, 'york': 7.5, 'westminster': 10.95,

                   '64747': 18.50, '64739': 16.20, '64731': 16.00, '64741': 10.55, '64454': 15.50, '64732': 10.30,
                   '64787': 14.40, '64668': 18.35, '64867': 16.60, '64179': 12.60, '64562': 16.00, '64416': 15.20,
                   '64434': 16.55, '32049': 5.00, '32056': 3.25, '32057': 4.10, '32047': 4.10,}

In [784]:
df = pd.read_csv('transaction-logs (24).csv', dtype=str, delimiter=';')

temp2_df = df['Date created'].str.split('-', expand=True)
temp2_df.columns = ['f_', 's_']
temp2_df['f_'] = temp2_df['f_'].str.replace('...', '')
temp2_df['f_'] = temp2_df['f_'].str.lstrip()
temp2_df['f_'] = temp2_df['f_'].str.rstrip()
temp2_df['s_'] = temp2_df['s_'].str.lstrip()
temp2_df['s_'] = temp2_df['s_'].str.rstrip()
df['date'] = temp2_df['f_']
df['time'] = temp2_df['s_']
df['date'] = pd.to_datetime(df['date'], dayfirst=True)
# df['date'] = df['date'].dt.date
df['date'] = df['date'].astype(str)

df = df[df['Type'] == 'Order amount']
df['Quantity'] = df['Quantity'].astype(int)
df['Amount'] = df['Amount'].astype(float)
df.dropna(subset=['Offer SKU'], inplace=True)
df.head(2)

,Date created,Date received,Transaction Date,Shop,Order number,Invoice number,Transaction Number,Quantity,Category Label,Offer SKU,...,Currency,Customer order reference,Shop order reference,Billing cycle date,Shop ID,Order line ID,Refund ID,Sales channel,date,time
0,01/07/2024 - 06:34:57,18/07/2024 - 08:19:22,NaN,Ashwood Leather,DUX029695463-A,000000255340,NaN,1,Mens Bags & Wallets,0004413800,...,GBP,NaN,NaN,27/07/2024 - 00:42:15,2472,DUX029695463-A-1,NaN,NaN,2024-07-01,06:34:57
4,01/07/2024 - 07:11:00,NaN,NaN,Ashwood Leather,DUX029695688-A,000000254798,NaN,1,Womens Bags & Purses,0004931200,...,GBP,NaN,NaN,13/07/2024 - 00:53:05,2472,DUX029695688-A-1,NaN,NaN,2024-07-01,07:11:00

In [785]:
df.columns

Index(['Date created', 'Date received', 'Transaction Date', 'Shop',
       'Order number', 'Invoice number', 'Transaction Number', 'Quantity',
       'Category Label', 'Offer SKU', 'Description', 'Type', 'Payment status',
       'Payment reference', 'Amount', 'Debit', 'Credit', 'Balance', 'Currency',
       'Customer order reference', 'Shop order reference',
       'Billing cycle date', 'Shop ID', 'Order line ID', 'Refund ID',
       'Sales channel', 'date', 'time'],
      dtype='object')

In [786]:
prices = pd.read_csv('offers (49).csv', delimiter=';', dtype=str)
prices['Discount price'] = (prices['Discount price'].astype(float) * 0.75).round(2)
prices['Sale Price'] = prices['Discount price']
prices['RRP'] = prices['Original price']
prices = prices[['Offer SKU', 'RRP', 'Sale Price']]
prices

       Offer SKU     RRP  Sale Price
0     0005261211  359.00      198.75
1     0004949505  229.00      158.79
2     0004386401  229.00      114.59
3     0004929700  129.00       65.00
4     0004131300  120.00       44.99
...          ...     ...         ...
5524  0005821200   95.00         NaN
5525  0004155802  159.00      110.00
5526  0004155806  159.00      110.00
5527  0005432500  120.00       42.99
5528  0005448500  170.00       69.99

[5529 rows x 3 columns]

In [787]:
vs_prices = pd.read_csv('vs_export_20250722-110248_leather-company.csv', dtype=str)
vs_prices

,VS Parent ID,VS Child ID,Unnamed: 2,Parent Reference,Child Reference,Unnamed: 5,Parent Product Images,Unnamed: 7
0,74,2540,NaN,00014373,0001437300,NaN,https://www.leathercompany.co.uk/images/produc...,NaN
1,74,459,NaN,00014373,0001437301,NaN,https://www.leathercompany.co.uk/images/produc...,NaN
2,74,460,NaN,00014373,0001437302,NaN,https://www.leathercompany.co.uk/images/produc...,NaN
3,74,461,NaN,00014373,0001437303,NaN,https://www.leathercompany.co.uk/images/produc...,NaN
4,74,462,NaN,00014373,0001437304,NaN,https://www.leathercompany.co.uk/images/produc...,NaN
...,...,...,...,...,...,...,...,...
12854,3144,11325,NaN,00034684,0003468404,NaN,https://www.leathercompany.co.uk/images/produc...,NaN
12855,3144,11326,NaN,00034684,0003468405,NaN,https://www.leathercompany.co.uk/images/produc...,NaN
12856,3144,11327,NaN,00034684,0003468406,NaN,https://www.leathercompany.co.uk/images/produc...,NaN
12857,3144,11328,NaN,00034684,0003468407,NaN,https://www.leathercompany.co.uk/images/produc...,NaN
12858,3144,11329,NaN,00034684,0003468408,NaN,https://www.leathercompany.co.uk/images/produc...,NaN

In [788]:
order_prices = df.groupby(['Offer SKU'])['Amount'].mean().reset_index()
order_prices['Amount'] = order_prices['Amount'].round(2)
order_prices['Sale Price'] = order_prices['Amount']

dict_prices = pd.Series(order_prices.Amount.values,index=order_prices['Offer SKU']).to_dict()
prices

       Offer SKU     RRP  Sale Price
0     0005261211  359.00      198.75
1     0004949505  229.00      158.79
2     0004386401  229.00      114.59
3     0004929700  129.00       65.00
4     0004131300  120.00       44.99
...          ...     ...         ...
5524  0005821200   95.00         NaN
5525  0004155802  159.00      110.00
5526  0004155806  159.00      110.00
5527  0005432500  120.00       42.99
5528  0005448500  170.00       69.99

[5529 rows x 3 columns]

In [789]:
df = df[['date', 'Offer SKU', 'Quantity', 'Category Label']]

In [790]:
df['Offer SKU'] = df['Offer SKU'].replace(['0004925700', '0004928100', '0004928200', '0004928800', '0004555700', '0004933600'], ['0005346800', '0005347000', '0005346900', '0005347100', '0005310300', '0005347200'])

In [791]:
fe = pd.read_csv('Fashione EAN 21-07-25.csv', dtype=str)
fe['Offer SKU'] = fe['PLU']
fe = fe[['Style', 'Colour', 'Size', 'Offer SKU']]
fe.head(2)

  Style    Colour Size   Offer SKU
0   007  BLK/BLUE    S  0002875800
1   007  BLK/BLUE    M  0002875801

In [792]:
df = pd.merge(df, fe, on='Offer SKU', how='left')
# dict_label_style = pd.Series(df.dropna()['Category Label'].values,index=df.dropna()['Style']).to_dict()
# df['Category Label'] = df['Style']
# df['Category Label'] = df['Category Label'].map(dict_label_style)
df.head(2)

,date,Offer SKU,Quantity,Category Label,Style,Colour,Size
0,2024-07-01,0004413800,1,Mens Bags & Wallets,GB LOGAN,CHESTNUT,ONE SIZE
1,2024-07-01,0004931200,1,Womens Bags & Purses,64202,2 tone tan,ONE SIZE

In [793]:
df = df[df['Category Label'] == 'Womens Bags & Purses']

In [794]:
best_sellers = df.groupby(['Style'])['Quantity'].sum().reset_index().sort_values(by='Quantity', ascending=False)['Style'].values
temp = pd.DataFrame(best_sellers, columns=['sellers'])
temp['index1'] = range(1, len(temp)+1)
dict_customs_model = pd.Series(temp.index1.values,index=temp.sellers).to_dict()

In [795]:
q3_2024 = df[(df['date'] >= '2024-07-01') & (df['date'] <= '2024-09-30')]
q4_2024 = df[(df['date'] >= '2024-10-01') & (df['date'] <= '2024-12-31')]
q1_2025 = df[(df['date'] >= '2025-01-01') & (df['date'] <= '2025-03-31')]
q2_2025 = df[(df['date'] >= '2025-04-01') & (df['date'] <= '2025-06-30')]

In [796]:
df['Index'] = df['Style']
df['Index'] = df['Index'].map(dict_customs_model)
df = df.groupby(['Index', 'Style', 'Colour', 'Offer SKU'])['Quantity'].sum().reset_index()

q3_2024['Index'] = q3_2024['Style']
q3_2024['Index'] = q3_2024['Index'].map(dict_customs_model)
q3_2024 = q3_2024.groupby(['Index', 'Style', 'Colour', 'Offer SKU'])['Quantity'].sum().reset_index()
q3_2024['Q3 2024'] = q3_2024['Quantity']
q3_2024 = q3_2024[['Offer SKU', 'Q3 2024']]

df = pd.merge(df, q3_2024, on='Offer SKU', how='left')
df['Q3 2024'] = df['Q3 2024'].replace(np.NaN, 0)
df['Q3 2024'] = df['Q3 2024'].astype(int)

q4_2024['Index'] = q4_2024['Style']
q4_2024['Index'] = q4_2024['Index'].map(dict_customs_model)
q4_2024 = q4_2024.groupby(['Index', 'Style', 'Colour', 'Offer SKU'])['Quantity'].sum().reset_index()
q4_2024['Q4 2024'] = q4_2024['Quantity']
q4_2024 = q4_2024[['Offer SKU', 'Q4 2024']]

df = pd.merge(df, q4_2024, on='Offer SKU', how='left')
df['Q4 2024'] = df['Q4 2024'].replace(np.NaN, 0)
df['Q4 2024'] = df['Q4 2024'].astype(int)

q1_2025['Index'] = q1_2025['Style']
q1_2025['Index'] = q1_2025['Index'].map(dict_customs_model)
q1_2025 = q1_2025.groupby(['Index', 'Style', 'Colour', 'Offer SKU'])['Quantity'].sum().reset_index()
q1_2025['Q1 2025'] = q1_2025['Quantity']
q1_2025 = q1_2025[['Offer SKU', 'Q1 2025']]

df = pd.merge(df, q1_2025, on='Offer SKU', how='left')
df['Q1 2025'] = df['Q1 2025'].replace(np.NaN, 0)
df['Q1 2025'] = df['Q1 2025'].astype(int)

q2_2025['Index'] = q2_2025['Style']
q2_2025['Index'] = q2_2025['Index'].map(dict_customs_model)
q2_2025 = q2_2025.groupby(['Index', 'Style', 'Colour', 'Offer SKU'])['Quantity'].sum().reset_index()
q2_2025['Q2 2025'] = q2_2025['Quantity']
q2_2025 = q2_2025[['Offer SKU', 'Q2 2025']]

df = pd.merge(df, q2_2025, on='Offer SKU', how='left')
df['Q2 2025'] = df['Q2 2025'].replace(np.NaN, 0)
df['Q2 2025'] = df['Q2 2025'].astype(int)

In [797]:
# df['Q1 2025'] = (df['Q4 2024'] * 0.535).round(0).astype(int)
# df['Q2 2025'] = (df['Q4 2024'] * 0.4).round(0).astype(int)
# df['Q3 2025'] = (df['Q4 2024'] * 0.35).round(0).astype(int)

In [798]:
stock = pd.read_csv('stock_levels(38).csv', dtype=str)
stock['Offer SKU'] = stock['reference']
stock['Stock'] = stock['stock'].astype(int)
stock['Stock'].replace(np.NaN, 0, inplace=True)
stock = stock[['Offer SKU', 'Stock']]

df = pd.merge(df, stock, on='Offer SKU', how='left')

df.rename(columns={'Quantity': 'Total sold'}, inplace=True)
# df['Stock'] = df['Stock'].replace(np.NaN, 0, inplace=True)
# df['Stock'] = df['Stock'].astype(int)

In [799]:
### Stock Sort

most_stock = df.groupby(['Style'])['Stock'].sum().reset_index().sort_values(by='Stock', ascending=False)['Style'].values
temp = pd.DataFrame(most_stock, columns=['sellers'])
temp['index1'] = range(1, len(temp)+1)
dict_customs_model = pd.Series(temp.index1.values,index=temp.sellers).to_dict()

df['Index'] = df['Style']
df['Index'] = df['Index'].map(dict_customs_model)

In [800]:
df['Sale Price'] = df['Offer SKU']
df['Stock'] = df['Stock'].fillna(0).astype(int)
df['Sale Price'] = df['Sale Price'].map(dict_prices)

In [801]:
catalog = pd.read_excel('export-products-20250725164338.xlsx', dtype=str, skiprows=1)
catalog['Offer SKU'] = catalog['product_id']
catalog = catalog[~catalog['Offer SKU'].isin(df.reset_index()['Offer SKU'].values)]
catalog = pd.merge(catalog, stock, on='Offer SKU', how='left')
catalog = catalog[catalog['Stock'] != 0]
catalog.dropna(subset=['Stock'], inplace=True)
catalog = pd.merge(catalog, fe, on='Offer SKU', how='left')
catalog.shape

c:\Users\retai\AppData\Local\Programs\Python\Python312\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

(229, 53)

In [802]:
df

,Index,Style,Colour,Offer SKU,Total sold,Q3 2024,Q4 2024,Q1 2025,Q2 2025,Stock,Sale Price
0,3,64033,2 tone tan,0004932900,547,43,125,179,200,240,29.11
1,3,64033,BLACK,0005310300,1244,0,635,401,208,274,28.04
2,3,64033,ICE GREY,0004933200,87,28,17,20,22,124,29.53
3,3,64033,RASPBERRY,0005347200,52,0,15,20,17,191,29.33
4,3,64033,ROSE,0004933700,89,0,31,30,28,202,29.84
...,...,...,...,...,...,...,...,...,...,...,...
1029,232,y-62,TURQUISE,0005478600,1,0,0,0,1,1,82.50
1030,66,64731,2 tone tan,0005464400,1,0,0,0,1,149,94.99
1031,157,62093,FUCHSIA,0003747400,1,0,0,0,1,19,47.20
1032,249,J-57,AURORA,0004289200,1,1,0,0,0,0,17.49
1033,207,VIN-7,YELLOW,0004317400,1,0,0,1,0,8,57.99

In [803]:
catalog['Index'] = '-'
catalog['Style'] = catalog['parent_product_id']
catalog[['Total sold', 'Q3 2024', 'Q4 2024', 'Q1 2025', 'Q2 2025']] = 0
catalog['Sale Price'] = 0
catalog = catalog[['Index', 'Style', 'Colour', 'Offer SKU', 'Total sold', 'Q3 2024', 'Q4 2024', 'Q1 2025', 'Q2 2025', 'Stock', 'Sale Price']]

df = pd.concat([df, catalog], ignore_index=True)

In [804]:
best_sellers = df.groupby(['Style'])['Total sold'].sum().reset_index().sort_values(by='Total sold', ascending=False)['Style'].values
temp = pd.DataFrame(best_sellers, columns=['sellers'])
temp['index1'] = range(1, len(temp)+1)
dict_customs_model = pd.Series(temp.index1.values,index=temp.sellers).to_dict()

In [805]:
df['Index'] = df['Style']
df['Index'] = df['Index'].map(dict_customs_model)

In [806]:
images = pd.read_csv('vs_export_20250722-110248_leather-company.csv', dtype=str)
images['Offer SKU'] = images['Child Reference']
temp_stock_df = images['Parent Product Images'].str.split('\n', expand=True)
images['Parent Product Images'] = temp_stock_df[0]
images['VS Image'] = images['Parent Product Images']
images['Image'] = images['Parent Product Images']
images = images[['Offer SKU', 'Image']]

df = pd.merge(df, images, on='Offer SKU', how='left')

dict_images = pd.Series(df['Image'].values,index=df['Style']).to_dict()
df['Image'] = df['Style']
df['Image'] = df['Image'].map(dict_images)

In [807]:
df = df.groupby(['Index', 'Image', 'Style', 'Colour', 'Offer SKU', 'Sale Price'])[['Stock', 'Q3 2024', 'Q4 2024', 'Q1 2025', 'Q2 2025']].sum()
df['Total'] = df['Q3 2024'] + df['Q4 2024'] + df['Q1 2025'] + df['Q2 2025']
# df = df[df['Total'] != 0]

In [808]:
df.reset_index(inplace=True)
df['Sale Price'] = df['Sale Price'].replace(0, np.NaN)

temp1 = pd.read_csv('offers (49).csv', delimiter=';', dtype=str)
temp1['Discount price'] = (temp1['Discount price'].astype(float) * 0.75).round(2)
temp1 = temp1[['Offer SKU', 'Original price', 'Discount price']]

df = pd.merge(df, temp1, on='Offer SKU', how='left')
df

,Index,Image,Style,Colour,Offer SKU,Sale Price,Stock,Q3 2024,Q4 2024,Q1 2025,Q2 2025,Total,Original price,Discount price
0,1,https://www.leathercompany.co.uk/images/produc...,64033,2 tone tan,0004932900,29.11,240.0,43,125,179,200,547,59.99,29.99
1,1,https://www.leathercompany.co.uk/images/produc...,64033,BLACK,0005310300,28.04,274.0,0,635,401,208,1244,59.99,29.99
2,1,https://www.leathercompany.co.uk/images/produc...,64033,ICE GREY,0004933200,29.53,124.0,28,17,20,22,87,59.99,29.99
3,1,https://www.leathercompany.co.uk/images/produc...,64033,RASPBERRY,0005347200,29.33,191.0,0,15,20,17,52,59.99,29.99
4,1,https://www.leathercompany.co.uk/images/produc...,64033,ROSE,0004933700,29.84,202.0,0,31,30,28,89,59.99,29.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1189,308,https://www.leathercompany.co.uk/images/produc...,64741,BLACK,0005441500,NaN,148.0,0,0,0,0,0,110.00,80.00
1190,308,https://www.leathercompany.co.uk/images/produc...,64741,DENIM,0005441800,NaN,50.0,0,0,0,0,0,110.00,80.00
1191,308,https://www.leathercompany.co.uk/images/produc...,64741,SAGE,0005441900,NaN,50.0,0,0,0,0,0,110.00,80.00
1192,308,https://www.leathercompany.co.uk/images/produc...,64741,WOOD ROSE,0005442000,NaN,75.0,0,0,0,0,0,110.00,80.00
1193,309,https://www.leathercompany.co.uk/images/produc...,d-99,BLACK,0005023600,NaN,12.0,0,0,0,0,0,NaN,NaN

In [809]:
df['RRP'] = df['Original price']
# df['Sale Price'] = df['Sale Price'].fillna(df['Discount price'])
df['Sale Price'] = df['Discount price']
df['Sale Price'] = df['Sale Price'].replace(np.NaN, '-')

In [810]:
df['Cost Price'] = df['Style']
df['Cost Price'] = df['Cost Price'].map(cost_price_dict)
df['Cost Price'] = df['Cost Price'].fillna('-')

In [811]:
df

,Index,Image,Style,Colour,Offer SKU,Sale Price,Stock,Q3 2024,Q4 2024,Q1 2025,Q2 2025,Total,Original price,Discount price,RRP,Cost Price
0,1,https://www.leathercompany.co.uk/images/produc...,64033,2 tone tan,0004932900,29.99,240.0,43,125,179,200,547,59.99,29.99,59.99,6.95
1,1,https://www.leathercompany.co.uk/images/produc...,64033,BLACK,0005310300,29.99,274.0,0,635,401,208,1244,59.99,29.99,59.99,6.95
2,1,https://www.leathercompany.co.uk/images/produc...,64033,ICE GREY,0004933200,29.99,124.0,28,17,20,22,87,59.99,29.99,59.99,6.95
3,1,https://www.leathercompany.co.uk/images/produc...,64033,RASPBERRY,0005347200,29.99,191.0,0,15,20,17,52,59.99,29.99,59.99,6.95
4,1,https://www.leathercompany.co.uk/images/produc...,64033,ROSE,0004933700,29.99,202.0,0,31,30,28,89,59.99,29.99,59.99,6.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1189,308,https://www.leathercompany.co.uk/images/produc...,64741,BLACK,0005441500,80.0,148.0,0,0,0,0,0,110.00,80.00,110.00,10.55
1190,308,https://www.leathercompany.co.uk/images/produc...,64741,DENIM,0005441800,80.0,50.0,0,0,0,0,0,110.00,80.00,110.00,10.55
1191,308,https://www.leathercompany.co.uk/images/produc...,64741,SAGE,0005441900,80.0,50.0,0,0,0,0,0,110.00,80.00,110.00,10.55
1192,308,https://www.leathercompany.co.uk/images/produc...,64741,WOOD ROSE,0005442000,80.0,75.0,0,0,0,0,0,110.00,80.00,110.00,10.55
1193,309,https://www.leathercompany.co.uk/images/produc...,d-99,BLACK,0005023600,-,12.0,0,0,0,0,0,NaN,NaN,NaN,-

In [812]:
df = df.groupby(['Index', 'Image', 'Style', 'Colour', 'Offer SKU', 'Cost Price', 'RRP', 'Sale Price'])[['Stock', 'Q3 2024', 'Q4 2024', 'Q1 2025', 'Q2 2025']].sum()
df['Total Sold'] = df['Q3 2024'] + df['Q4 2024'] + df['Q1 2025'] + df['Q2 2025']

In [813]:
# df.to_excel('Handbags July 2025.xlsx')
df.reset_index().to_csv('Handbags July 2025 No Groups.csv', index=False)

In [814]:
df.reset_index()

,Index,Image,Style,Colour,Offer SKU,Cost Price,RRP,Sale Price,Stock,Q3 2024,Q4 2024,Q1 2025,Q2 2025,Total Sold
0,1,https://www.leathercompany.co.uk/images/produc...,64033,2 tone tan,0004932900,6.95,59.99,29.99,240.0,43,125,179,200,547
1,1,https://www.leathercompany.co.uk/images/produc...,64033,BLACK,0005310300,6.95,59.99,29.99,274.0,0,635,401,208,1244
2,1,https://www.leathercompany.co.uk/images/produc...,64033,ICE GREY,0004933200,6.95,59.99,29.99,124.0,28,17,20,22,87
3,1,https://www.leathercompany.co.uk/images/produc...,64033,RASPBERRY,0005347200,6.95,59.99,29.99,191.0,0,15,20,17,52
4,1,https://www.leathercompany.co.uk/images/produc...,64033,ROSE,0004933700,6.95,59.99,29.99,202.0,0,31,30,28,89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1167,308,https://www.leathercompany.co.uk/images/produc...,64741,BEIGE,0005441700,10.55,110.00,80.0,74.0,0,0,0,0,0
1168,308,https://www.leathercompany.co.uk/images/produc...,64741,BLACK,0005441500,10.55,110.00,80.0,148.0,0,0,0,0,0
1169,308,https://www.leathercompany.co.uk/images/produc...,64741,DENIM,0005441800,10.55,110.00,80.0,50.0,0,0,0,0,0
1170,308,https://www.leathercompany.co.uk/images/produc...,64741,SAGE,0005441900,10.55,110.00,80.0,50.0,0,0,0,0,0
1171,308,https://www.leathercompany.co.uk/images/produc...,64741,WOOD ROSE,0005442000,10.55,110.00,80.0,75.0,0,0,0,0,0

In [815]:
temp = df.reset_index().copy()

In [816]:
temp['Style-CostPrice'] = temp['Style'] + '-' + temp['Sale Price'].astype(str)
temp['Style-CostPrice'].value_counts()

Style-CostPrice
TAB-29.99           18
63014/cb3-29.99     17
63753-39.99         17
cb-5-29.99          16
64033-29.99         11
                    ..
y-52--               1
y-53--               1
y-54--               1
y-61--               1
63788 croc-39.99     1
Name: count, Length: 287, dtype: int64

In [817]:
temp

,Index,Image,Style,Colour,Offer SKU,Cost Price,RRP,Sale Price,Stock,Q3 2024,Q4 2024,Q1 2025,Q2 2025,Total Sold,Style-CostPrice
0,1,https://www.leathercompany.co.uk/images/produc...,64033,2 tone tan,0004932900,6.95,59.99,29.99,240.0,43,125,179,200,547,64033-29.99
1,1,https://www.leathercompany.co.uk/images/produc...,64033,BLACK,0005310300,6.95,59.99,29.99,274.0,0,635,401,208,1244,64033-29.99
2,1,https://www.leathercompany.co.uk/images/produc...,64033,ICE GREY,0004933200,6.95,59.99,29.99,124.0,28,17,20,22,87,64033-29.99
3,1,https://www.leathercompany.co.uk/images/produc...,64033,RASPBERRY,0005347200,6.95,59.99,29.99,191.0,0,15,20,17,52,64033-29.99
4,1,https://www.leathercompany.co.uk/images/produc...,64033,ROSE,0004933700,6.95,59.99,29.99,202.0,0,31,30,28,89,64033-29.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1167,308,https://www.leathercompany.co.uk/images/produc...,64741,BEIGE,0005441700,10.55,110.00,80.0,74.0,0,0,0,0,0,64741-80.0
1168,308,https://www.leathercompany.co.uk/images/produc...,64741,BLACK,0005441500,10.55,110.00,80.0,148.0,0,0,0,0,0,64741-80.0
1169,308,https://www.leathercompany.co.uk/images/produc...,64741,DENIM,0005441800,10.55,110.00,80.0,50.0,0,0,0,0,0,64741-80.0
1170,308,https://www.leathercompany.co.uk/images/produc...,64741,SAGE,0005441900,10.55,110.00,80.0,50.0,0,0,0,0,0,64741-80.0
1171,308,https://www.leathercompany.co.uk/images/produc...,64741,WOOD ROSE,0005442000,10.55,110.00,80.0,75.0,0,0,0,0,0,64741-80.0